{:paths ["src/main" "src/dev" "src/test" "target"]

 :deps    {funcool/promesa                   {:mvn/version "11.0.678"}
           applied-science/js-interop        {:mvn/version "0.4.2"}
           tick/tick                         {:mvn/version "0.7.5"}
           djblue/portal                     {:mvn/version "0.48.0"}
           org.babashka/sci                  {:mvn/version "0.8.40"}
           org.babashka/sci.configs          {:git/url "https://github.com/babashka/sci.configs"
                                              :git/sha "5754193ac358b532f13ed0803f72711edd6c024c"}
           datascript/datascript             {:mvn/version "1.5.3"}
           reagent/reagent                   {:mvn/version "1.2.0"}
           babashka/babashka.nrepl {:mvn/version "0.0.7"}}
 :aliases {:cljs {:extra-deps {thheller/shadow-cljs            {:mvn/version "2.25.9"}
                               binaryage/devtools              {:mvn/version "1.0.7"}
                               cider/cider-nrepl               {:mvn/version "0.38.1"}
                               refactor-nrepl/refactor-nrepl   {:mvn/version "3.9.0"}
                               com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                               ;; rewrite-clj/rewrite-clj           {:mvn/version "1.1.47"}
                               }}}}
